<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
 package="com.example.hexatour">
	<uses-permission android:name="android.permission.INTERNET" />
	<queries>
		<intent>
			<action android:name="android.intent.action.SEND" />
			<data android:mimeType="image/jpeg" />
		</intent>
	</queries>
	<queries>
          <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
    </queries> 
	<application android:label="KAKA" android:name="${applicationName}" android:icon="@mipmap/launcher_icon"  android:enableOnBackInvokedCallback="true" android:windowSoftInputMode="stateVisible">


	     <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9O4RVbjnc1RICkFuJwPsun9T35exBjhQ"/>
		
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
		<meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token" />
		<activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
			<!--
			Specifies an Android theme to apply to this Activity as soon as
			the Android process has started. This theme is visible to the user
			while the Flutter UI initializes. After that, this theme continues
			to determine the Window background behind the Flutter UI.
			-->
			<meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="hexatours.page.link" android:scheme="https" />
			</intent-filter>
		</activity>
		<meta-data android:name="flutterEmbedding" android:value="2" />
	</application>
</manifest>
